<h1>Stupid Coaching</h1>

<div class="question-block">
  <p><%= params[:question] %></p>
  <p class="author">—You</p>
</div>

<div class="answer-block">
  <p><%= @answer %></p>
  <p class="author">—Your coach</p>
</div>

<%= link_to "Ask a new question", "/ask" %>
